.bnt-login {
  height: 50px;
  min-width: 100px;
  border: 0px;
}
.btn-item-menu{
  background-color: transparent !important ;
  border-color: transparent !important ;
  box-shadow: unset !important;
}
